API_KEY=your_api_key_here
API_SECRET=your_api_secret_here
SYMBOL=BTC/USDT:USDT
TIMEFRAME=15m
TRADE_SIZE_BTC=0.01
TP_LONG=40
TP_SHORT=-50
HARD_CAP_MULTIPLIER=1.85
DEEP_SWING=true
STOP_LOSS_PCT=2.0
INITIAL_BANK=1000.0
MODE=paper
